{% extends 'base.html.twig' %}

{% block title %}
    Gas Stations List
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Id</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                "ajax": '{{ path('app_ajax_gas_stations_list') }}',
                "deferRender": true,
                "columns": [
                    { "data": "id" },
                ]
            } );
        } );
    </script>
{% endblock %}
