{% extends 'base_auth.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>An email has been sent that contains a link that you can click to reset your password. This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('auth_reset_password') }}">try again</a>.</p>

    <a href="{{ url('auth_reset_token', {token: resetToken}) }}">{{ url('auth_reset_token', {token: resetToken}) }}</a>

{% endblock %}
