{% extends 'base.html.twig' %}

{% block title %}
    Reset your password
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="form-container sign-in-container">
        {{ form_start(resetForm) }}
        <h1>Reset your Password</h1>
        {{ form_widget(resetForm.plainPassword.first, { 'attr': { 'placeholder': "New Password"} }) }}
        {{ form_widget(resetForm.plainPassword.second, { 'attr': { 'placeholder': "Repeat Password"} }) }}
        <button type="submit">Reset Password</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}